#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

[mysqld]
innodb_strict_mode=OFF
sql_mode="NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
log-bin-trust-function-creators=1
log-bin-trust-function-creators=500
[mariadb]
plugin-load-add=file_key_management.so
file_key_management
file_key_management_filename=/opt/panaces/installconfig/mariadbencryption/keys.txt
innodb_default_encryption_key_id=2

ssl
ssl-ca=/opt/panaces/installconfig/mariadbencryption/ca-cert.pem
ssl-cert=/opt/panaces/installconfig/mariadbencryption/server-cert.pem
ssl-key=/opt/panaces/installconfig/mariadbencryption/server-key.pem
